<% if has_more %>
  <div id="load_more" class="text-center my-4"
       data-controller="infinite-scroll"
       data-infinite-scroll-url-value="<%= cards_path(offset: next_offset, q: local_assigns[:q]) %>"
       data-infinite-scroll-auto-value="true">
    <button type="button" class="btn btn-outline-secondary" data-action="infinite-scroll#load">
      <%= t("all_cards.load_more") %>
    </button>
  </div>
<% else %>
  <div id="load_more"></div>
<% end %>
